@page
@model artfind.Pages.ArtPiece.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Gallery/Objects</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtPiece[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtPiece[0].Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtPiece[0].YearCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtPiece[0].Medium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtPiece[0].CurrentLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtPiece[0].Dimensions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ArtPiece) {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ArtPieceID">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                <a asp-page="../Artists/Details" asp-route-id="@item.Artist.ID">@Html.DisplayFor(modelItem => item.Artist.FullName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dimensions)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ArtPieceID">Edit</a> |
                <!--<a asp-page="./Details" asp-route-id="@item.ArtPieceID">Details</a> |-->
                <a asp-page="./Delete" asp-route-id="@item.ArtPieceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
